.post{
    max-width: 500px;
    margin-left: 30%;
    background-color: white;
    margin-top: 1rem;
    border: 1px solid lightgray ;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.post-avatar{
    margin-right: 0.5rem;
}

.post-img{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
}

.post-text{
    font-weight: normal;
    padding: 1rem;
}

.post_comment{
    display: flex;
    flex-direction: row;
    margin: auto 0px 10px 15px;
}
.post_comments{
    margin-left: 15px;
    margin-bottom: 5px;
}
.comment_text{
    flex:1;
    border: none;
    padding: 7px;
    border-top: 1px solid lightgray;
}

.comment_button{
    flex:0;
    border: none;
    border-top: 1px solid lightgray;
    color: #6082a3;
}