*{
    margin: 0px;
}

.app{
    background-color: rgba(var(--b3f,250,250,250),1);
    height: 100%;
}

.app-header{
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-header-img{
    object-fit: contain;
}
.app-header-img-signUp{
    /* object-fit: contain; */
    height: 50%;
    width: 50%;
}
.modal-form{
    display: flex;
    flex-direction: column;
}

.app_posts{
    padding: 20px;
}